html, body{
  background-color: #d0dede;
}

#center-wrapper {
  text-align: center;
  color: #275867;
}

.tech-type-list {
  text-align: left;
  padding-left: 40%;
  padding-right: 40%;
}

.tech-list {
  text-align: left;
  padding-top: 2em;
  padding-left: 40%;
  padding-right: 40%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #535353;
}
tr {
  text-align: center;
}
tr:hover {
  background-color: #a3bcbc;
}
